<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="css/index.css" >
</head>

<body>
    {{{body}}}
    <nav class="navigation">
        <a href="/home">List of Books</a>|
        <a href="/AddNewBook">Add Book</a>|
        <a href="/DeleteABook">Delete A Book</a>
    </nav>
</body>

</html>