<form method="post" action="/AddNewBook" class="Bookadd">
    <p>Add a new book</p>
    <label>Name:</label><input name="bookName" type="text" />
    <label>Author Name:</label><input name="authorName" type="text"  />
    <label>Amazon Link:</label><input name="amazonLink" type="text" />
    <button type="submit">Submit</button>
</form>